<form name="orderForm" ng-submit="submit()" novalidate>
<div class="">
     
        <div app-order-side variable="orderSide" class="row buyAndsell">
             <div class="buySide col-xs-12" translate="ORDER.SIDE.BUY"></div>
             <div class="sellSide col-xs-12" translate="ORDER.SIDE.SELL"></div>
             <div class="hiddenEle">
              <input type="radio" data-ng-model="orderSide" value="B"/>
              <input type="radio" data-ng-model="orderSide" value="S"/>
             </div>
             
          </div>
     
        <div class="row buyPowerAndqty" >
          <div class="col-xs-12">
            <span translate="ORDER.BUY_POWER"></span>
            <span data-ng-cloak>{{ order.currencyType }}{{ buyPower }}</span>
          </div>
          <div class="col-xs-12" data-ng-if="isEmerge(order.ableBuyQty)" data-ng-class="{hiddenEle:isSell}">
            <span translate="ORDER.ABLE_TRADE_QUANTITY"></span>:
            <span data-ng-bind="order.ableBuyQty"></span>
          </div>
          <div class="col-xs-12" data-ng-if="isEmerge(order.ableSellQty)" data-ng-class="{hiddenEle:isBuy}">
            <span translate="ORDER.SELL_TOTAL"></span>:
            <span data-ng-bind="order.ableSellQty"></span>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
             <select data-ng-model='order.market' ng-change="switchMarketEvent(order.market)" class="form-control input-xl" ng-options="mk as (mk | marketFormat) for mk in markets">
                                </select>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <select data-ng-model="order.accNum" ng-change="switchAccountEvent(order.accNum)" class="form-control input-xl"
                                ng-options="acc.AccNum as acc | accFormat for  acc in accounts">
                                </select>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <input  data-app-enter-key="" ng-keydown="securityKeyDown($event)" name="securityId" type="text" class="form-control input-xl"   data-ng-model="security.id" data-ng-pattern="/^\d*$/"placeholder="{{'ORDER.SECURITY_CODE' | translate}}" required>
          </div>
        </div>
        <div class="col-xs-18 col-xs-offset-3 errorMessage">
            <div data-ng-if="interacted(orderForm.securityId)" ng-messages="orderForm.securityId.$error" ng-messages-multiple>
                                <div ng-message="required">{{'ORDER.ERROR.Security_null' | translate}}</div>
                                <div ng-message="pattern">{{'ORDER.ERROR.Security_formatting' | translate}}</div>
                            </div>
          </div>
        <div data-ng-if="isEmerge(security.name)" class="row space-height securityName-font">
          <div class="col-xs-18 col-xs-offset-3">
            <span data-ng-bind="security.name"></span>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <select data-ng-model="order.type" class="form-control input-xl" ng-options="ot.OrdType as ot.OrdTypeName | orderTypeByLocal for ot in orderTypes">
                                </select>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <div class="form-group">
              <div class="input-group input-group-xl" >
                <span class="input-group-addon" data-ng-click="priceDown()"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <input id="orderPrice" name="price" ng-change="formatPrice(order.price)" data-ng-model="order.price" class="form-control input-xl" size="16" type="text" value="" data-app-pattern="/^\d+$|^\d+\.\d*$/"  placeholder="{{'ORDER.PRICE' | translate}}" required/>
                <span class="input-group-addon" data-ng-click="priceUp()"><span class="glyphicon glyphicon-chevron-up"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-18 col-xs-offset-3 errorMessage">
            
                            <div data-ng-if="interacted(orderForm.price)" ng-messages="orderForm.price.$error" ng-messages-multiple>
                                <div ng-message="required">{{'ORDER.ERROR.Price_null' | translate}}</div>
                                <div ng-message="pattern">{{'ORDER.ERROR.Price_formatting' | translate}}</div>
                            </div>
          </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <input data-app-enter-key="" ng-keydown="qtyEnterEvent($event)" id="qtyInput" name="qty" class="form-control input-xl" size="16" ng-change="formatQty(order.qty)" data-ng-model="order.qty" type="text" value="" data-app-pattern="/^\d+$/" placeholder="{{'ORDER.QUANTITY' | translate}}" required>
          </div>
        </div>
        <div class="row space-height securityName-font">
          <div class="col-xs-18 col-xs-offset-3">
            <span ng-if="isEmerge(security.lotSize)" data-ng-cloak>({{security.lotSize}}/lot)</span>
          </div>
        </div>
          <div class="col-xs-18 col-xs-offset-3 errorMessage">
            <div data-ng-if="interacted(orderForm.qty)" ng-messages="orderForm.qty.$error" ng-messages-multiple>
                                <div ng-message="required">{{'ORDER.ERROR.Qty_null' | translate}}</div>
                                <div ng-message="pattern">{{'ORDER.ERROR.Qty_formatting' | translate}}</div>
                            </div>
          </div>
          <br/>
        <div class="row space-height" ng-class="{'red-background':isSell}">
          <div class="col-xs-9 col-xs-offset-3">
            <button class="btn btn-large btn-primary" type="submit" data-toggle="modal"  translate="BUTTON.SUBMIT"></button>

          </div>
          <div class="col-xs-9 text-right">
            <button ng-click="resetFormEvent()" class="btn btn-large btn-primary"  type="button" translate="BUTTON.CLEAR"></button>
          </div>
        </div>

        </div>
  </form>

  <div data-app-modal="" data-visible="comfigOrderPop" class="modal fade modalTop" id="surePopUp">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <p class="h4 modal-title text-center" translate="ORDER.CONFIRM_ING"></p>
        </div>
        <div class="modal-body order-content">
          <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.MARKET"></div>
                        <div class="col-xs-16" data-ng-bind='order.marketView'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.ACCOUNT"></div>
                        <div class="col-xs-16" data-ng-bind='order.accNumView'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.TIT"></div>
                        <div class="col-xs-16" data-ng-bind="'ORDER.SIDE.'+orderSide |translate"></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.SECURITY_CODE"></div>
                        <div class="col-xs-16" data-ng-bind='security.id'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.SECURITY_NAME"></div>
                        <div class="col-xs-16" data-ng-bind='security.name'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.PRICE"></div>
                        <div class="col-xs-16">
                            <span data-ng-colak>{{order.currencyType}}</span>&nbsp;
                            <span data-ng-bind="order.priceView"></span>
                        </div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.QUANTITY"></div>
                        <div class="col-xs-16" data-ng-bind='order.qty'></div>
                    </div>
                     <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.ORDER_TYPE"></div>
                        <div class="col-xs-16" data-ng-bind="order.typeView"></div>
                    </div>
        </div>
        <div class="modelFoter">
          <div class="row">
            <div data-ng-click="signingOrderEvent()" class="col-xs-12 modelFoter-borRight" translate="BUTTON.CONFIRM"></div>
            <div class="col-xs-12" data-dismiss="modal" translate="BUTTON.CANCEL"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-app-modal="" data-visible="resultOrderPop" class="modal fade modalTop" id="surePopUp">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <p class="h4 modal-title text-center" translate="ORDER.COMPLETE"></p>
        </div>
        <div class="modal-body order-content">
          <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.SYSTEM_TIP"></div>
                        <div class="col-xs-16" data-ng-bind='systemMsg'></div>
                    </div>
          <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.MARKET"></div>
                        <div class="col-xs-16" data-ng-bind='order.marketView'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.ACCOUNT"></div>
                        <div class="col-xs-16" data-ng-bind='order.accNumView'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.TIT"></div>
                        <div class="col-xs-16" data-ng-bind="'ORDER.SIDE.'+orderSide |translate"></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.SECURITY_CODE"></div>
                        <div class="col-xs-16" data-ng-bind='security.id'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.SECURITY_NAME"></div>
                        <div class="col-xs-16" data-ng-bind='security.name'></div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.PRICE"></div>
                        <div class="col-xs-16">
                            <span data-ng-colak>{{order.currencyType}}</span>&nbsp;
                            <span data-ng-bind="order.priceView"></span>
                        </div>
                    </div>
                    <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.QUANTITY"></div>
                        <div class="col-xs-16" data-ng-bind='order.qty'></div>
                    </div>
                     <div class="row" name="spaceColor">
                        <div class="col-xs-8" translate="ORDER.ORDER_TYPE"></div>
                        <div class="col-xs-16" data-ng-bind="order.typeView"></div>
                    </div>
        </div>
        <div class="modelFoter">
          <div class="row">
            <div data-ng-click="reinitializeOrderTicket()" class="col-xs-24 modelFoter-borRight" translate="BUTTON.BACK"></div>
          </div>
        </div>
      </div>
    </div>
  </div>