<div class="panel panel-primary">
        <div class="panel-heading text-center buyAndsell">
          <div class="col-xs-24" translate="ORDERBOOK.TITLE"></div>
        </div>
      </div>
      <div class="row space-height">
        <div class="col-xs-11 col-xs-offset-1">
          <select data-ng-model="accNum" ng-change="switchAccountEvent(accNum)"  class="form-control input-xl" ng-options="acc.AccNum as acc | accFormat for  acc in accounts">
                                </select>
        </div>
        <div class="col-xs-11">
          <select data-ng-model='market' ng-change="switchMarketEvent(market)" class="form-control input-xl" ng-options="mk as (mk | marketFormat) for mk in markets">
                                </select>
        </div>
      </div>
      <div class="row space-height">
        <div class="col-xs-11 col-xs-offset-1">
          <select data-ng-model="BS" ng-change="switchBSEvent(BS)" class="form-control input-xl">
                                        <option selected value="B/S" translate="ORDERBOOK.BS"></option>
                                        <option value="B" translate="ORDERBOOK.BUY"></option>
                                        <option value="S" translate="ORDERBOOK.SELL"></option>
                                    </select>
        </div>
        <div class="col-xs-11">
         <select data-ng-model="status" data-ng-change="switchStatusEvent(status)" class="form-control input-xl">
                                        <option value="All" selected translate="ORDERBOOK.STATUS.All"></option>
                                        <option value="Open" translate="ORDERBOOK.STATUS.Open"></option>
                                        <option value="PartialFullyFilled" translate="ORDERBOOK.STATUS.PartialFullyFilled"></option>
                                        <option value="Close" translate="ORDERBOOK.STATUS.Close"></option>
                                    </select>
        </div>
      </div>
      <div class="row space-height">
        <div class="col-xs-11 col-xs-offset-1">
          <select class="form-control input-xl">
                                        <option data-ng-model="DataRange" data-ng-change="switchDataRangeEvent(DataRange)"  value="1" selected translate="ORDERBOOK.DATA_RANGE.1"></option>
                                        <option value="7" translate="ORDERBOOK.DATA_RANGE.7"></option>
                                        <option value="30" translate="ORDERBOOK.DATA_RANGE.30"></option>
                                        <option value="90" translate="ORDERBOOK.DATA_RANGE.90"></option>
                                    </select>
        </div>
        <div class="col-xs-11">
          <input ng-keydown="enterSecurityEvent($event)" type="text" class="form-control input-xl" value="">
        </div>
      </div>
      <div class="orderBook-inline">
        <table class="table-bordered orderBook-fixedTable">
          <thead><th translate="ORDERBOOK.TAB_TIT.DATATIME"></th></thead>
          <tr  data-ng-repeat="ob in  ordHists track by ob.OrdID">
            <td>{{ob.LastExecTime}}</td>
          </tr>
        </table>
      </div>
      <div class="orderBook-Scroll">
        <table width="100%" class="orderBook-table table-bordered">
          <thead>
            <th class="text-center" translate="ORDERBOOK.TAB_TIT.NO"></th>
            <th translate="ORDERBOOK.TAB_TIT.SECURITY"></th>
            <th translate="ORDERBOOK.TAB_TIT.BUY_SELL"></th>
            <th translate="ORDERBOOK.STATUS.TITLE"></th>
            <th translate="ORDERBOOK.TAB_TIT.ORDER"></th>
            <th translate="ORDERBOOK.TAB_TIT.Filled"></th>
            <th translate="ORDERBOOK.TAB_TIT.ACTION"></th>
          </thead>
          <tr  data-ng-repeat="ob in  ordHists track by ob.OrdID">
            <td class="text-center">{{ob.OrdID}}</td>
            <td>{{ob.Security.SctyID+' - '+ob.Security.MktCode}}</td>
            <td>{{ob.OrdSide}}</td>
            <td>{{ob.OrdStatus}}</td>
            <td>{{ob.OrdQty+'@'+ob.Price}}</td>
            <td></td>
            <td>&nbsp;</td>
          </tr>
          <tr data-ng-if="noRecords">
              <td clospan="7">No records</td>
          </tr>
        </table>
      </div>