<form name="orderForm" ng-submit="submit()" novalidate>
<div class="row clearfix">
      <div class="panel panel-primary">
        <div app-order-side variable="orderSide" class="panel-heading text-center buyAndsell">
             <div class="buySide col-xs-12" translate="ORDER.SIDE.BUY"></div>
             <div class="sellSide col-xs-12" translate="ORDER.SIDE.SELL"></div>
             <div class="hiddenEle">
              <input type="radio" data-ng-model="orderSide" value="B"/>
              <input type="radio" data-ng-model="orderSide" value="S"/>
             </div>
             
          </div>
      </div>
        <div class="row buyPowerAndqty" >
          <div class="col-xs-12">
            <span translate="ORDER.BUY_POWER"></span>
            <span data-ng-cloak>{{ order.currencyType }}{{ buyPower }}</span>
          </div>
          <div class="col-xs-12" data-ng-if="isEmerge(order.ableBuyQty)" data-ng-class="{hiddenEle:isSell}">
            <span translate="ORDER.ABLE_TRADE_QUANTITY"></span>:
            <span data-ng-bind="order.ableBuyQty"></span>
          </div>
          <div class="col-xs-12" data-ng-if="isEmerge(order.ableSellQty)" data-ng-class="{hiddenEle:isBuy}">
            <span translate="ORDER.SELL_TOTAL"></span>:
            <span data-ng-bind="order.ableSellQty"></span>
          </div>
        </div>
        <div class="overfloat-Y">
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
             <select data-ng-model='order.market' ng-change="switchMarketEvent(order.market)" class="form-control input-xl" ng-options="mk as (mk | marketFormat) for mk in markets">
                                </select>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <select data-ng-model="order.accNum" ng-change="switchAccountEvent(order.accNum)" class="form-control input-xl"
                                ng-options="acc.AccNum as acc | accFormat for  acc in accounts">
                                </select>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <input ng-keydown="securityKeyDown($event)" name="securityId" type="text" class="form-control input-xl"   data-ng-model="security.id" data-ng-pattern="/^\d*$/"placeholder="{{'ORDER.SECURITY_CODE' | translate}}" required>
          </div>
        </div>
        <div data-ng-if="isEmerge(security.name)" class="row space-height securityName-font">
          <div class="col-xs-18 col-xs-offset-3">
            <span data-ng-bind="security.name"></span>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <select data-ng-model="order.type" class="form-control input-xl" ng-options="ot.OrdType as ot.OrdTypeName | orderTypeByLocal for ot in orderTypes">
                                </select>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <div class="form-group">
              <div class="input-group input-group-xl" >
                <span class="input-group-addon" data-ng-click="priceDown()"><span class="glyphicon glyphicon-chevron-down"></span></span>
                <input name="price" ng-change="formatPrice(order.price)" data-ng-model="order.price" class="form-control input-xl" size="16" type="text" value="" data-app-pattern="/^\d+$|^\d+\.\d*$/"  placeholder="{{'ORDER.PRICE' | translate}}" required/>
                <span class="input-group-addon" data-ng-click="priceUp()"><span class="glyphicon glyphicon-chevron-up"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3">
            <input name="qty" class="form-control input-xl" size="16" ng-change="formatQty(order.qty)" data-ng-model="order.qty" type="text" value="" data-app-pattern="/^\d+$/" placeholder="{{'ORDER.QUANTITY' | translate}}" required>
          </div>
        </div>
        <div class="row space-height securityName-font">
          <div class="col-xs-18 col-xs-offset-3">
            <span ng-if="isEmerge(security.lotSize)" data-ng-cloak>({{security.lotSize}}/lot)</span>
          </div>
        </div>
        <div class="row space-height" ng-class="{'red-background':isSell}">
          <div class="col-xs-9 col-xs-offset-3">
            <button class="btn btn-large btn-primary" type="submit" data-toggle="modal"  translate="BUTTON.SUBMIT"></button>

          </div>
          <div class="col-xs-9 text-right">
            <button ng-click="resetFormEvent()" class="btn btn-large btn-primary"  type="button" translate="BUTTON.CLEAR"></button>
          </div>
        </div>
        <div class="row space-height">
          <div class="col-xs-18 col-xs-offset-3 errorMessage">
            <div data-ng-if="interacted(orderForm.securityId)" ng-messages="orderForm.securityId.$error" ng-messages-multiple>
                                <div ng-message="required"> plz enter security id.</div>
                                <div ng-message="pattern">security id formatting error.</div>
                            </div>
                            <div data-ng-if="interacted(orderForm.price)" ng-messages="orderForm.price.$error" ng-messages-multiple>
                                <div ng-message="required"> plz enter price.</div>
                                <div ng-message="pattern">price formatting error.</div>
                            </div>
                            <div data-ng-if="interacted(orderForm.qty)" ng-messages="orderForm.qty.$error" ng-messages-multiple>
                                <div ng-message="required"> plz enter qty.</div>
                                <div ng-message="pattern">qty  formatting error.</div>
                            </div>
                <div data-ng-bind='systemMsg'></div>
          </div>
        </div>
    </div>
        </div>
  </form>